/* Agrega estilos aquí */
.componente {
    width: 100px;
    height: 50px;
    background-color: #ccc;
    border: 1px solid #000;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

#placa_madre {
    width: 500px;
    height: 300px;
    border: 2px dashed #000;
    margin-top: 20px;
}
